[project]
	description = my first repository 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/joycchan
[access "refs/for/refs/*"]
	read = group user/joycchan
	push = group user/joycchan
	label-Code-Review = -2..+2 group user/joycchan
	label-Verified = -1..+1 group user/joycchan
	rebase = group user/joycchan
	removeReviewer = group user/joycchan
	submit = group user/joycchan
[access "refs/heads/*"]
	read = group user/joycchan
	create = group user/joycchan
	push = +force group user/joycchan
	pushMerge = group user/joycchan
[access "refs/tags/*"]
	push = +force group user/joycchan
	pushTag = group user/joycchan
	pushSignedTag = group user/joycchan
